//Background Colors
$backgroundIvory: #fefae0;

//Text Colors
$mainTextColor: #a8dadc;

//Basic Colors
$mainRedColor: #d62828;
$mainIvoryColor: #eae2b7;
$mainOrange: #fcbf49;

//Advanced Colors
$fantaColor: #f77f00;
$darkBlue: #003049;

